
.main {
    direction: rtl;
}

.bt {
    padding: 1rem; 
    width:100%;
}

.header {
    padding: 2rem;
}

/*table {
    display: table;
    table-layout: fixed;
}*/

/*td:not(:last-of-type) {
    overflow: auto;
    background-color: red;
    /*text-overflow: ellipsis;
    word-wrap: break-word;*/
/*}*/
    


